@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


.title{
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    margin: 10px;
    width: 100%;
    background-color: grey;
}